.DeviceMap {
    font-family: sans-serif;
    text-align: center;
}

.padding-top {
  padding-top: 3%;
}
  
.leaflet-container {
  height: 95vh;
  width: 100%;
}

.leaflet-div-icon {
  background: transparent;
  border: none;
}

.logorating {
  height: 30px;
  width: 30px;
}

.request-popup .leaflet-popup-content-wrapper {
  border-radius: 15px;
  background-color: rgb(37, 36, 36);
  opacity: 0.9;
  color:aliceblue;
}

.pop-up-head  {
  width:100%;
  font-weight: bold;
  font-size: x-large;
}

.pop-up-head:hover {
  cursor: pointer;
}

.rating-text {
  font-size: medium;
  margin-bottom: 3%;
}

.cost-per-kWh-container {
  font-size: medium;
}