body {
  --color2: rgb(233, 21, 21);
}

NavBar, .color-nav, .mr-auto, .dropdown-menu, a.dropdown-item {
  background-color: #010101 !important;
  color: white !important;
}

#nav-link {
  color: white;
  font-weight: 500;
  font-size: large;
}

#nav-link:hover, .dropdown-item:hover {
  color: var(--color2) !important;
  border-radius: 4px;
}

.user-icon {
  height: 35px;
}
/*
.user-choices {
  position: absolute !important ;
  left: 200px !important;
}

.user-choices2 {
  position: absolute !important ;
  left: 200px !important;
  top: 40px !important;
}*/