body {
  --color2: rgb(233, 21, 21);
}

NavBar, .color-nav, .mr-auto, .dropdown-menu, a.dropdown-item {
  background-color: #010101 !important;
  color: white !important;
}

#nav-link {
  color: white;
  font-weight: 500;
  font-size: large;
}

#nav-link:hover, .dropdown-item:hover {
  color: var(--color2) !important;
  border-radius: 4px;
}

/*.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1.5rem;
    position: absolute;
    z-index: 1;
    width: 100%;
    background: rgb(255, 255, 255);
  }
  
  .navbar-sticky {
    background: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 30px;
    box-shadow: 1px 1px 1px #222;
    animation: moveDown 0.5s ease-in-out;
  }
  
  .navbar--logo {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
    animation: rotate 2.7s ease-in-out 1.5s;
  }
  
  @keyframes moveDown {
    from {
      transform: translateY(-5rem);
    }
    to {
      transform: translateY(0rem);
    }
  }
  
  @keyframes rotate {
    0% {
      transform: rotateY(360deg);
    }
    100% {
      transform: rotateY(0rem);
    }
  }*/