body {
    --color2: rgb(233, 21, 21);
}

.one-spot-sessions-container {
    text-align: center;
    padding: 1%;
    display: grid;
    border-radius: 5px;
    margin: 3% 1%;
}

.spot-sessions-block {
    display: grid;
    grid-template-rows: min-content min-content auto;
    grid-template-columns: 100%;
    row-gap: 0%;
    width: 90%;
    margin-left: 5%;
    min-height:min-content;
}

.spot-info-container {
    grid-row: 2;
    padding: 1% 1%;
    width: 350px;
    display: grid;
    grid-template-columns: min-content min-content;
    grid-template-rows: min-content;
    column-gap: 2px;
    border-radius: 5px;
}

.all-spots-sessions-container {
    width: 100%;
    grid-row: 3;
    padding-bottom: 2%;
}


.spot-sessions-all-page {
    position: top;
    height: 100%;
}

.spots-sessions-page-container {
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
}

.spots-buttons-container {
    margin: 2% 0%;
    height: min-content;
    width: 70% !important;
    margin-left: 15%;
    column-gap: 5%;
}

.spot-choose-button {
    color: var(--color2);
    margin-bottom: 1%;
    height: min-content;
    width: 100px !important;
    border-radius: 5px;
}

.spot-choose-button:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.time-filters-container {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 150px 150px;
    width: 100%;
    /*margin-left: 500px;*/
    column-gap: 5%;
}

.padding-bottom5 {
    padding-bottom: 5%;
}

.margin-top {
    margin-top: 5%;
}

.margin-top-small {
    margin-top: 2%;
}

.start-date-label, .end-date-label {
    color: var(--color2);
}

