body {
    --color2: rgb(180, 212, 206);
}

.color2 {
    color: var(--color2);
}

.one-station-container {
    margin-left: 2%;
    text-align: center;
    margin-bottom: 4%;
    margin-top: 4%;
    border-radius: 7px;
}

.small-spot-page-info-container {
    text-align: left;
    padding: 2% 0%;
    width: 90%;
    margin-left: 5%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: min-content;
    column-gap: 2px;
}


.station-info-line {
    text-align: left;
}

.station-info-container {
    display: grid;
    grid-template-rows: min-content min-content min-content min-content
     min-content;
    grid-template-columns: 140px auto;
    column-gap: 2px;
}

.station-details-link {
    font-size: large;
}

.station-info-title {
    color: var(--color2);
    grid-column: 1;
}


.station-link {
    text-decoration: underline;
}

.station-link:hover {
    cursor: pointer;
}


.more-details-button {
    color: black;
    background-color: var(--color2);;
}

.my-button {
    border-radius: 5px;
    height: min-content;
    margin-bottom: 1%;
}

.my-button:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.update-button {
    background-color: rgb(109, 160, 205);
}

.submit-button {
    background-color: rgb(146, 145, 145);
}

.delete-button {
    background-color: red;
    color: white;
    padding: 1% 3%;
}

.add-active-button {
    background-color: rgb(103 255 88 / 60%);
}


#stations-container {
    width: 90%;
    margin-left: 5%;
}