body {
    --color2: rgb(233, 21, 21);
}

.one-station-container {
    margin-left: 2%;
    text-align: center;
    margin-bottom: 4%;
    margin-top: 4%;
    border-radius: 7px;
}

.small-spot-page-info-container {
    text-align: left;
    padding: 2% 0%;
    width: 90%;
    margin-left: 5%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: min-content;
    column-gap: 2px;
}


.station-info-line {
    text-align: left;
}

.station-info-container {
    display: grid;
    grid-template-rows: min-content min-content min-content min-content
     min-content;
    grid-template-columns: 140px auto;
    column-gap: 2px;
}

.station-details-link {
    font-size: large;
}

.station-info-title {
    color: var(--color2);
    grid-column: 1;
}

.orangeColor {
    color: var(--color2);
}

.station-link {
    text-decoration: underline;
}

.station-link:hover {
    cursor: pointer;
}

#stations-container {
    width: 90%;
    margin-left: 5%;
}