.station-stats-info-container {
    width: 70%;
    margin-left: 15%;
    display: grid;
}

.spots-pie-diagrams {
    margin-top: 4%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5% 47.5% 47.5%;
    row-gap: 0%;
}


.margins-top-bottom {
    margin-top: 5%;
}