body {
    --color2: rgb(180, 212, 206);
}


.station-stats-info-container {
    width: 50%;
    margin-left: 25%;
    display: grid;
    border-radius: 7px;
    background-color: rgb(48, 47, 47);
}

.spots-pie-diagrams {
    display: flex;
    flex-flow: row wrap;
    /*grid-template-columns: 50% 50%;
    grid-template-rows: 5% 47.5% 47.5%;
    row-gap: 0%;*/
}

.flex-layout {
    display: flex;
    flex-flow: row wrap;
}

.margins-top-bottom {
    margin-top: 5%;
}

.flex-item {
    flex-grow: 1;
    width: 500px !important;
}

.flex-item-small {
    flex-grow: 1;
    width: 200px !important;
}

.flex-item-medium {
    flex-grow: 1;
    width: 300px !important;
}

.flex-item-medium-big {
    flex-grow: 1;
    width: 400px !important;
}