.stat-owners-stats-pie-diagrams {
    margin-top: 4%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5% 20% 20% 20% 20%;
    row-gap: 0%;
}

.margin-bottom {
    margin-bottom: 5%;
}