.station-page-info-container {
    text-align: left;
    padding: 2% 0%;
    width: 70%;
    margin-left: 15%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: min-content;
    column-gap: 2px;
}

.station-info-title {
    grid-column: 1;
}

.station-info {
    grid-column: 2;
}

.darker {
    background-color: rgb(153, 145, 145);
}

.spot-link:hover {
    cursor:pointer;
    text-decoration: none;
}

.station-update-button-container {
    padding-top: 1%;
    padding-bottom: 2%;
}

.station-update-button {
    width: 150px;
    font-size: medium;
    color: rgb(163, 63, 5);
    padding: 1%;
    margin-bottom: 1%;
    height: min-content;
    border-radius: 5px;
}

.station-update-button:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}