#update-station-submit {
    grid-row: 5;
    width: max(100px, 20%);
    height: min-content;
    margin-left: 40%;
    padding:0% 0%;
    border: 1px solid rgb(163, 63, 5);
    color: black;
    border-radius: 5px;
    margin-top: 40px;
}

#update-station-info-container {
    text-align: left;
    padding-top: 2%;
    padding-bottom: 5%;
    height: 110%;
    width: 70%;
    margin-left: 15%;
    display: grid;
    grid-template-rows: 12% 09% 14% 50% 10%;
    grid-template-columns: 100%;
    row-gap: 1%;
    column-gap: 2px;
}

#update-station-address-container {
    display: grid;
    grid-template-rows: 11% 11% 11% 11% 11% 27% 11%;
    grid-template-columns: 50% 50%;
    row-gap: 1%;
    height: 112%;
}